@page "/error404/{content?}"
@layout EmptyLayout
<Card>
    <Result Status="404"
            Title="Not Found"
            SubTitle="@Content"
            Extra="extra" />
</Card>

@code
{
    [Parameter]
    public string Content { get; set; }

    RenderFragment extra =@<Template>
        <a class="btn btn-primary" href="/">Go Home</a></Template>;

protected override void OnInitialized()
{
Content = Content ?? "Sorry, the page you visited does not exist.";
}
}